<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="bjmi.jdt.extensions.decoratations.DeprecatedMembersLabelDecorator"
            id="bjmi.jdt.extensions.decorator"
            label="%DeprecatedMembersLabelDecorator.label"
            lightweight="true"
            state="true">
         <description>
            %DeprecatedMembersLabelDecorator.description
         </description>
      </decorator>
   </extension>
</plugin>
