<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="bjmi.derivedresources.decoration.DerivedResourceLabelDecorator"
            id="derivedresources.decoration.derivedResourceDecorator"
            label="%DerivedResourceLabelDecorator.label"
            lightweight="false"
            state="true">
         <description>
            %DerivedResourceLabelDecorator.description
         </description>
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="bjmi.derivedresources.folder.MarkDerivedHandler"
            id="derivedresources.folder.mark"
            name="%MarkDerivedCommand.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file">
         <command
               commandId="derivedresources.folder.mark"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="bjmi.derivedresources.preferences.DerivedResourcesPreferencePage"
            id="deriveddecoration.preferences.DerivedResourcesPreferencePage"
            name="%DerivedResourcesPreferencePage.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="bjmi.derivedresources.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="derivedresources.folder.mark"
            icon="icons/disabled_folder.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="false"
            class="bjmi.derivedresources.decoration.DerivedResourceViewerFilter"
            description="%DerivedResourceViewerFilter.description"
            id="deriveddecoration.derivedResourceViewerFilter"
            name="%DerivedResourceViewerFilter.name">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="deriveddecoration.derivedResourceViewerFilter">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.jdt.ui.PackageExplorer">
         <includes>
            <contentExtension
                  pattern="deriveddecoration.derivedResourceViewerFilter">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            class="bjmi.derivedresources.decoration.DerivedResourceViewerFilter"
            description="%DerivedResourceViewerFilter.description"
            id="derivedresources.decoration.DerivedResourceViewerFilter"
            name="%DerivedResourceViewerFilter.name"
            targetId="org.eclipse.jdt.ui.PackageExplorer">
      </filter>
   </extension>
</plugin>
